<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarKing - Sign Up</title>
    <link rel="shortcut icon" type="image/x-icon" href="..\static\JS_logo.png" />
    <link rel="stylesheet" href="..\static\Part2.css">
    <script defer src="..\static\HP_JS.js"></script>
</head>

<body>
    
    <nav class="nav">
        <ul class="nav-list">
            <li class="list-item"><a href="..\templates\CarKing Home Page.html"> Home Page</a></li>
            <li class="list-item"><a href="..\templates\Parking lots.html"> Parking Lots</a></li>
            <li class="list-item"><a href="..\templates\Sign In.html"> Log In</a></li>
                       
        </ul>
    </nav>

    <div class="logo_signUp">
        <a href="..\templates\CarKing Home Page.html"> 
            <img src="..\static\logo.png" width="100%" >
        </a> 
    </div>
    <span class="headerDiv">
      
        <span>
            <h1 id="header1">Sign Up</h1>
        </span>
        
    </span>
    </div>
    
    <form id="formSignup" action="URL" method="post" onsubmit="alert(' Congratulations! you have taken another step towards finding parking space');">
        <label for="">First Name</label><br>
        <input type="text" id="firstName" name="firstName" autocomplete="on" required><br>
        <label for="">Last Name</label><br>
        <input type="text" id="lastName" name="lastName" autocomplete="on" required><br>
        <label for="">Email</label><br>
        <input type="email" id="email" name="email" autocomplete="on" required><br>
        <label for="">Password</label><br>
        <input type="password" id="password" name="password" autocomplete="on" required><br>
        </select><br><br>
        <label for="">alredy have an account?</label><br> 
        <li class="list-item"><a href="..\templates\Sign In.html"> Log in</a></li>
        <label for="">In order to provide you with a parking space nearby we will need your location, please allow us to use it</label><br>
        <input type="checkbox" id="useLocation" name="useLocation" required> <label for="">you can use my location</label><br>
        <button id="submit" type="submit">Create</button>
    </form>

</body>