doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title CarKing - Home Page
  link(rel='stylesheet' href='/stylesheets/Part2.css')
  link(rel='icon' href='./images/JS_logo.png')
  script(defer='' src='/javascripts/finaljs.js')

  .container  
    nav.nav
      ul.nav-list
        li.list-item
          a(href='/homePage')  Home Page
        li.list-item
          a(href='/signIn')  Log In
    .logo
      a(href='')
        img(src='./images/JS_logo.png')
    .pDiv
        p#demo
        br
        h3 About Us
        p CarKing's vision is to facilitate the parking experience in Tel Aviv and allow you to find parking according to your preferences!
        p Haven't you logged in yet?
