<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="C:\Users\tali\Documents\repos\Summer-Web\Web_project_b_315839159\static\Part2.css">
    <script defer src="C:\Users\tali\Documents\repos\Summer-Web\Web_project_b_315839159\static\HP_JS.js"></script>

</head>

<body class="homePageBody">
         <nav class="nav">
            <ul class="nav-list">
                    <li class="list-item"><a href="C:\Users\tali\Documents\repos\Summer-Web\templates\CarKing Home Page.html"> home page</a></li>
                    <li class="list-item"><a href="C:\Users\tali\Documents\repos\Summer-Web\Web_project_b_315839159\templates\Parking Lots.html"> parking lots</a></li>
                    <li class="list-item"><a href="C:\Users\tali\Documents\repos\Summer-Web\Web_project_b_315839159\templates\Sign In.html"> log in</a></li>
                    
            </ul>
        </nav>
        
        <div class="logo">
            <a href="C:\Users\tali\Documents\repos\Summer-Web\templates\CarKing Home Page.html"> 
                <img src="C:\Users\tali\Documents\repos\Summer-Web\static\JS_logo.png" width="100%">
            </a> 
        </div>
        <div class="pDiv">
            <p id="demo"></p>
        </div>
        <div class="mapouter">
          
    
    
</body>

</html>